:root {
    --color-primary: #EF4444;
    --color-secondary: #FFF;
    --red: #EF4444;
    --fundo-card-timer:  rgba(68, 62, 62, 0.8);
    --lils: #EF4444;
    --linear-botes: linear-gradient(180deg, #EF4444 0%, #ddaaa1 100%);
}

[data-contexto="foco"] {
    --main-bg-color: linear-gradient(to top, #EF4444 0%, #991B1B 48.44%, #01080E 100%);
    --red: #EF4444;
    --lils: #EF4444;
    --linear-botes: #EF4444;
}

[data-contexto="descanso-curto"] {
    --main-bg-color: linear-gradient(to top, #0F725C 0%, #043220 48.44%, #01080E 100%);
    --red: #0F725C;
    --lils: #0F725C;
    --linear-botes: #0F725C;
}

[data-contexto="descanso-longo"] {
    --main-bg-color: linear-gradient(to top, #1A4980 0%, #0D2B4E 48.44%, #01080E 100%);
    --red: #2563EB;
    --lils: #2563EB;
    --linear-botes: #2563EB;
}

* {
    box-sizing: border-box;
    max-width: 100%;
    padding: 0;
    margin: 0;
}

html {
    background: var(--main-bg-color);
    font-size: 10px;
}

.app {
    padding-top: env(safe-area-inset-top);
    padding-left: env(safe-area-inset-left);
    padding-right: env(safe-area-inset-right);
    padding-bottom: env(safe-area-inset-bottom);
    background-position: center;
    background-attachment: fixed;
    display: flex;
    flex-direction: column;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Unbounded', cursive;
}

.app__logo-figure {
    display: flex;
    justify-content: center;
    padding: 5rem 0 2rem 0;
    height: 20rem;
}

.app__section-banner-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin: 0rem auto;
}

.app__title {
    line-height: 150%;
    font-size: 4.2rem;
    font-style: normal;
    color: var(--color-secondary);
    font-weight: 200; 
    text-align: center;
}

.app__title-strong {
    font-weight: 600;
}

.title-icon {
    width: 4rem;
    height: 4rem;
}

.app__section-card-container {
    display: flex;
    justify-content: center;
}

.app__card {
    border-radius: 3.2rem;
    background: var(--fundo-card-timer);
    padding: 2.4rem;
    margin: 5rem 0 8rem 0;
    width: 59rem;
    max-width: 90%;
    box-shadow:
    0 4px 6px rgba(0, 0, 0, 0.1),
    0 8px 10px rgba(0, 0, 0, 0.1),
    0 12px 16px rgba(0, 0, 0, 0.1),
    0 16px 24px rgba(0, 0, 0, 0.1);
}

.app__card-list {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1.6rem;
}

.app__card-button {
    font-family: Montserrat;
    font-size: 1.8rem;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
    background: none;
    padding: 0.8rem;
    color: var(--color-secondary);
    border: none;
    cursor: pointer;
    outline: inherit;
}

.app__card-button.active {
    border-radius: 0.8rem;
    background: var(--red);
    font-weight: 600;
}

.app__card-timer {
    color: var(--color-secondary);
    text-align: center;
    font-family: Unbounded;
    font-size: 12rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin: 3.2rem;
    text-align: center;
}

.app__card-list-label {
    color: var(--color-secondary);
    font-family: Montserrat;
    font-size: 1.8rem;
    font-style: normal;
    font-weight: 400;
}

.app__card-primary-button-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
}

.app__card-primary-button {
    padding: 0.8rem;
    width: 12rem;
    color: var(--color-secondary);
    border: none;
    cursor: pointer;
    outline: inherit;
    border-radius: 3.2rem;
    background: var(--linear-botes);
    margin-top: 3.2rem;
    font-size: 1.8rem;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}

.app__footer {
    display: flex;
    width: 100%;
    padding: 2.8rem 6rem;
    justify-content: center;
    align-items: center;
    background: #01080E;
}

.app__footer-text {
    color: rgba(182, 182, 182, 0.8);
    text-align: center;
    font-family: Montserrat;
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
}

/* toggle */
.toggle {
    cursor: pointer;
    display: inline-block;
}

.toggle-switch {
    display: inline-block;
    background: #ccc;
    border-radius: 1.6rem;
    width: 5.8rem;
    height: 3.2rem;
    position: relative;
    vertical-align: middle;
    transition: background 0.25s;
}

.toggle-switch:before, .toggle-switch:after {
    content: "";
}

.toggle-switch:before {
    display: block;
    background: linear-gradient(to bottom, #fff 0%, #eee 100%);
    border-radius: 50%;
    width: 2.4rem;
    height: 2.4rem;
    position: absolute;
    top: 0.4rem;
    left: 0.4rem;
    transition: left 0.25s;
}

.toggle:hover .toggle-switch:before {
    background: linear-gradient(to bottom, #fff 0%, #fff 100%);
}

.toggle-checkbox:checked + .toggle-switch {
    background: var(--lils);
}

.toggle-checkbox:checked + .toggle-switch:before {
    left: 3rem;
}

.toggle-checkbox {
    position: absolute;
    visibility: hidden;
}

/* fim - toggle */

/* Para Tablets */
@media (max-width: 1024px) and (min-width: 768px) {
    .app__section-banner-container {
        width: 48rem;
    }

    .app__logo-figure{
        height: 20rem;
    }
}

/* Para Celulares */
@media (max-width: 768px) {

    .app__title {
        padding-bottom: 5rem;
        font-size: 2rem;
    }

    .app__card-timer {
        font-size: 5rem;
        margin: 2rem;
    }

    .title-icon {
        width: 2rem;
        height: 2rem;
    }

    .app__card{
        margin-top: 0;
        margin-bottom: 3.5rem;
        padding: 3rem;
    }

    .app__logo-figure{
        margin-top: 0em;
        padding: 0;
        align-items: center;
        justify-content: center;
    }

    .app__logo-image {
        max-height: 10rem;
    }

    .app__card-button {
        font-size: 1.6rem;
        padding: 0.8rem;
    }

    .app__header {
        order: 0;
    }

    .app__section-banner-container {
        order: 2;
    }

    .app__section-card-container {
        order: 1;
    }

    .app__footer {
        order: 3;
    }

}


